extends ../layouts/default

block content
	if user
		.row.links-container.negative-margin-top: .col
			a#profile-save.waves-effect.waves-light.btn.red.darken-4(href="/profile/edit")
				i.mdi-editor-mode-edit.left
				| Edit profile

		.row
			.col.s12.m8.l9
				.row.first-profile-row
					.col.s12.m4.l3: .section
						img.profile-image(src= user.image)
					.col.s12.m8.l9: .section
						h5= user.username
						p Member since #{user.registered}.

				.divider
				
				.row
					.col.s12: .section
						- var progressionPercentage = ((user.wardrobe.length / allSkins.length) * 100).toFixed(1) + "%";
						
						h5 Wardrobe Progression (#{progressionPercentage})
						
						.progress.red.lighten-5
							.determinate.red(style={width: progressionPercentage})
						
						p You have 
							strong #{user.wardrobe.length} 
							| skins in your wardrobe, leaving you with 
							strong #{allSkins.length - user.wardrobe.length} 
							| more skins to collect!
				
				.divider
				
				.row
					.col.s12: .section
						h5 About
						if (user.about)
							p= user.about
						else
							p.grey-text You have not yet added any information about yourself.

			.col.s12.m4.l3
				h5 Empty sidebar
				p For now...
				
	else
		.row: .col.s12
			p You need to have a user and to be logged in to see your profile.