extends ../layouts/default

block content
	if(skin)
		- var noImages = (skin.images.length == 0);
		if(!noImages)
			.row.images-container: .col
				each image in skin.images
					.image-container
						img(src= image)
				each image in skin.images
					.image-container
						img(src= image)
				each image in skin.images
					.image-container
						img(src= image)
				each image in skin.images
					.image-container
						img(src= image)
		.row.links-container(class=noImages ? "negative-margin-top" : ""): .col
			a.linkChatCode.waves-effect.waves-light.btn.red.darken-4(data-itemid= skin.skinid, data-type="skin", data-itemname= skin.name)
				i.mdi-communication-chat.left
				| Copy chat code

			if user
				- for(var i = 0; i < user.favorites.length; i++) {
				- 	var favoritted = (user.favorites.indexOf(skin.skinid) > -1) ? true : false;
				- }
				a.linkFavorite.waves-effect.waves-light.btn.grey(href="#", class=favoritted ? "favoritted" : "", data-skinid= skin.skinid)
					.favoriteFalse
						i.mdi-action-favorite-outline.left
						| Add to favorites
					.favoriteTrue
						i.mdi-action-favorite.left
						| Remove from favorites

			if skin.wikiUrl
				a.waves-effect.waves-light.btn.grey(href= skin.wikiUrl)
					i.mdi-action-info-outline.left
					| Wiki
			
		.row
			- var classes = (items.length > 0) ? ["s12", "m8", "l9"] : ["s12"];
			.col(class= classes)
				if(skin.description)
					.section
						h5 Description
						p= skin.description

				if(skin.description && skin.acquisition)
					.divider

				if(skin.acquisition)
					.section
						h5 Acquisition
						p= skin.acquisition

				if(skin.description || skin.acquisition)
					.divider

				.section
					h5 Popular outfits using #{skin.name}
            
			if (items.length > 0)
				.col.s12.m4.l3
					.section
						h5 Items using this skin
						ul.list-with-items
							- var itemCount = 0;
							each item in items
								- itemCount++;
								
								if itemCount <= 5
									a(href= skin.wikiUrl)
										li
											.valign-wrapper.left-align
												img(src= item.icon)
												span.valign= item.name
												
							if itemCount > 5
								a.grey-text
									li
										.center-align
											span And #{itemCount} more
	else
		.row
			.col.s12
				.section
					p No skins found with this ID.	
								
block js
	script(src="/js/chatcode.js")
	script(src="/js/favorite.js")