mixin flash-messages(messages)
	if messages
		#flash-messages
			each message in messages.info
				+flash-message(message, 'info')
			each message in messages.success
				+flash-message(message, 'success')
			each message in messages.warning
				+flash-message(message, 'warning')
			each message in messages.error
				+flash-message(message, 'danger')
				
//mixin flash-message(message, type)
	div(class='alert alert-' + type)
		if utils.isObject(message)
			if message.title
				h4= message.title
			if message.detail
				p= message.detail
			if message.list
				ul
					each item in message.list
						li= item
		else
			= message

mixin flash-message(message, type)
	.row.flash-message
		.col.s12.z-depth-1
			if utils.isObject(message)
				if message.title
					- var type = type ? type : "";
					- var bgClass;
					case type
						when "info"
							- bgClass = ["light-blue", "accent-3", "white-text"];
						when "success"
							- bgClass = ["light-green", "white-text"];
						when "warning"
							- bgClass = ["amber", "darken-1", "white-text"];
						when "danger"
							- bgClass = ["red", "darken-4", "white-text"];
						default
							- bgClass = "";
					
					.flash-message-title(class= bgClass)
						h5!= message.title
				if message.detail
					.flash-message-detail!= message.detail
			else
				.flash-message-detail= message